.post-item-enter {
  opacity: 0;
  transform: translateY(20px);
}

.post-item-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.post-item-exit {
  opacity: 1;
  transform: translateY(0);
}

.post-item-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms;
}

.our-news .active {
  border-bottom: 1px solid #36aafa;
  font-weight: bold;
}

.our-news {
  background-image: unset !important;
}
