{
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": [
    "react", "prettier"
  ],
  "rules": {
    "import/extensions": "off",
    "react/prop-types": "off",
    "no-param-reassign": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "no-shadow": "off",
    "no-unused-expressions": ["error", { "allowShortCircuit": true }],
    "no-unused-vars": "off",
    "no-multi-assign": "off",
    "no-plusplus": "off",
    "global-require": "off",
    "react/no-array-index-key": "off",
    "no-return-assign": "off",
    "import/prefer-default-export": "off",
    "import/no-unresolved": "off",
    "camelcase": "off",
    "import/no-extraneous-dependencies": "off",
    "react/jsx-wrap-multilines": 2,
    "no-alert": "off",
    "no-console": "off",
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ],
    "prettier/prettier": "error"
  }
}