.description img {
  margin: 30px 0;
}

@media screen and (min-width: 768px) {
  .description img {
      filter: grayscale(100%);
      transition: filter 0.3s ease, transform 0.3s ease;
    }

  .description img:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
  }
  
}