.description * {
  font-size: inherit;
}
.description img {
  margin: 30px 0;
}

.description p {
  line-height: 1.5;
  margin-bottom: 15px;
}

.description img {
  width: 100%;
}

.description a {
  color: #2977ff;
  text-decoration: underline;
}

.description h1 {
  font-size: 32px;
}

.description h2 {
  font-size: 26px;
}

.description h2 strong {
  font-size: 26px;
}

.description h3 {
  font-size: 21px;
}

.description h3 strong {
  font-size: 21px;
}

.description h1 strong {
  font-size: 32px;
}

.description blockquote {
  padding-left: 24px;
  border-left: 5px solid #ccc;
}
@media screen and (min-width: 768px) {
  .description img {
      filter: grayscale(100%);
      transition: filter 0.3s ease, transform 0.3s ease;
    }

  .description img:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
  }
  
}