.footer {
  background-image: url(../../assets/images/backgroundFooter.png);
  background-position: -115px -144px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 6rem 0 200px;
  height: auto !important;
  min-height: 100vh;
}

.footer p,
.footer span {
  font-size: 0.875rem;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 6rem 10px 20px 10px;
  }
}
