@font-face {
  font-family: 'MPLUS1p';
  src: url('../assets/fontMPlus/MPLUS1p-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'MPLUS1pbold';
  src: url('../assets/fontMPlus/MPLUS1p-ExtraBold.ttf') format('truetype');
}

$font-weight-normal: 400 !default;
$font-weight-bold: 900 !default;

$spacing-base: 0 !default;

$font-family-base: 'M PLUS 1p', sans-serif;
$font-family-bold: 'MPLUS1pbold', sans-serif;

$font-size-base: 16px !default;
$font-size-medium: 20px !default;
$font-size-large: 44px !default;
$font-weight-base: 400 !default;

$line-height-base: normal !default;
$line-height-large: 56px !default;

$gray-600: #434a5f !default;
$gray-900: #191C22 !default;
$orange: #ec6b33 !default;
$blue: #36AAFA !default;

$width-sideBar: 194px;
$height-header: 6rem;
$height-header-mobile: 70px;

$res_280: "only screen and (max-width: 280px)";
$res_240320: "only screen and (min-width: 240px) and (max-width: 320px)";
$res_320374: "only screen and (min-width: 320px) and (max-width: 374px)";
$res_375424: "only screen and (min-width: 375px) and (max-width: 424px)";
$res_424: "only screen and (max-width: 424px)";
$res_480: "only screen and (max-width: 480px)";
$res_576: "only screen and (max-width: 576px)";
$res_425767: "only screen and (min-width: 425px) and (max-width: 767px)";
$res_768: "only screen and (max-width: 768px)";
$res_769: "only screen and (min-width: 769px)";
$res_768991: "only screen and (min-width: 768px) and (max-width: 991px)";
$res_991: "only screen and (max-width: 991px)";
$res_01199500: "only screen and (max-width: 1199px) and (min-height: 500px)";
$res_01199499: "only screen and (max-width: 1199px) and (max-height: 499px)";
$res_992: "only screen and (min-width: 992px)";
$res_992767: "only screen and (max-width: 767px) and (orientation: landscape)";
$res_1024768: "only screen and (min-width: 768px) and (orientation: landscape)";
$res_9921023: "only screen and (min-width: 992px) and (max-width: 1023px)";
$res_10241365: "only screen and (min-width: 1024px) and (max-width: 1365px)";
$res_0102401366: "only screen and (min-width: 1024px) and (min-height: 1366px)";
$res_01199: "only screen and (max-width: 1199px)";
$res_1200: "only screen and (min-width: 1200px)";
$res_01023: "only screen and (max-width: 1023px)";
$res_1024: "only screen and (min-width: 1024px)";
$res_01365: "only screen and (max-width: 1365px)";
$res_1366: "only screen and (min-width: 1366px)";
$res_1400: "only screen and (min-width: 1400px)";
$res_1600: "only screen and (min-width: 1600px)";
$res_01600: "only screen and (max-width: 1600px)";

$res_12001599: "only screen and (min-width: 1200px) and (max-width: 1599px)";


// mixin screen responsive
@mixin screen($point) {
  @if $point==280 {
    @media #{$res_280} {
      @content;
    }
  }

  @if $point==240320 {
    @media #{$res_240320} {
      @content;
    }
  }

  @if $point==320374 {
    @media #{$res_320374} {
      @content;
    }
  }

  @if $point==375424 {
    @media #{$res_375424} {
      @content;
    }
  }

  @if $point==424 {
    @media #{$res_424} {
      @content;
    }
  }

  @if $point==480 {
    @media #{$res_480} {
      @content;
    }
  }

  @if $point=="mobile" {
    @media #{$res_576} {
      @content;
    }
  }

  @if $point==425767 {
    @media #{$res_425767} {
      @content;
    }
  }

  @if $point==769 {
    @media #{$res_769} {
      @content;
    }
  }

  @if $point==768 {
    @media #{$res_768} {
      @content;
    }
  }

  @if $point==768991 {
    @media #{$res_768991} {
      @content;
    }
  }

  @if $point==991 {
    @media #{$res_991} {
      @content;
    }
  }

  @if $point==01199500 {
    @media #{$res_01199500} {
      @content;
    }
  }

  @if $point==01199499 {
    @media #{$res_01199499} {
      @content;
    }
  }

  @if $point==992 {
    @media #{$res_992} {
      @content;
    }
  }

  @if $point==992767 {
    @media #{$res_992767} {
      @content;
    }
  }

  @if $point==1024768 {
    @media #{$res_1024768} {
      @content;
    }
  }

  @if $point==9921023 {
    @media #{$res_9921023} {
      @content;
    }
  }

  @if $point==01023 {
    @media #{$res_01023} {
      @content;
    }
  }

  @if $point==1024 {
    @media #{$res_1024} {
      @content;
    }
  }

  @if $point==10241365 {
    @media #{$res_10241365} {
      @content;
    }
  }

  @if $point==0102401366 {
    @media #{$res_0102401366} {
      @content;
    }
  }

  @if $point==01199 {
    @media #{$res_01199} {
      @content;
    }
  }

  @if $point==1200 {
    @media #{$res_1200} {
      @content;
    }
  }

  @if $point==01365 {
    @media #{$res_01365} {
      @content;
    }
  }

  @if $point==01365 {
    @media #{$res_01365} {
      @content;
    }
  }

  @if $point==1366 {
    @media #{$res_1366} {
      @content;
    }
  }

  @if $point==1400 {
    @media #{$res_1400} {
      @content;
    }
  }

  @if $point==1600 {
    @media #{$res_1600} {
      @content;
    }
  }

  @if $point==01600 {
    @media #{$res_01600} {
      @content;
    }
  }

  @if $point==12001599 {
    @media #{$res_12001599} {
      @content;
    }
  }
}