.gradientButton {
  border-radius: var(--radius, 24px);
  background: #000000;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(30, 135, 211, 0.5), 0 0 10px rgba(103, 81, 181, 0.5), 0 0 15px rgba(199, 95, 72, 0.5);

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: var(--radius, 24px);
    background: linear-gradient(102.02deg, #1e87d3 3.78%, #6751b5 53.06%, #c75f48 96.77%);
    padding: 1.5px;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -2;
    border-radius: var(--radius, 24px);
  }

  &:hover::before {
    background: linear-gradient(90deg, #c75f48 0%, #1e87d3 50%, #6751b5 100%);
    background-size: 200% 100%;
    animation: moveGradient 2s linear infinite;
  }
}

.buttonText {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 30px;
}

@keyframes moveGradient {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

@media screen and (max-width: 768px) {
  .gradientButton {
    width: 90%;
    height: 80px;
    --button-height: 80px;
  }

  .buttonText {
    font-size: 30px;
    padding: 0;
  }
}
