@import "../variables";

.slider-item {
  height: calc(100vh - 6rem - 100px);

  .slider-text-left {
    width: 25%;
  }

  .slider-image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .linkText {
    color: $blue;
    font-size: $font-size-medium;
    font-weight: 500;
    line-height: 30px;
  }

  .text-large {
    line-height: $line-height-large;
    font-family: $font-family-bold;
    font-size: 36px;
  }

  .text-small {
    opacity: 0.4;
  }

  .slider-text-right {
    width: 25%;
  }
}