@import "../variables";

.wrap-clientFeedback {
  width: 100%;
  padding-right: 100px;

  .slick-slide {
    padding: 0 2rem;
  }

    .slick-prev {
      left: 0;
      z-index: 1000;
    }

  .slick-slide-feedback {
    display: flex !important;
    justify-content: center;
    width: 100%;
    padding-top: 6rem;

    li {
      opacity: 0.6;
      border-radius: 50%;
      background: #fff;
      border-style: double;
      background-clip: content-box;
      margin: 0 0.5rem;
      cursor: pointer;
    }

    li.slick-active {
      border: 0.5px solid #1E69FF;
      opacity: 1;
    }
  }
}

.section-ten .overlay {
  position: absolute;
  width: 100%;
}

div.section-ten .slick-current + .slick-slide .overlay {
  display: none;
}

.section-ten .person {
  position: relative;
}

@include screen("mobile") {
  .wrap-clientFeedback {
    .slick-current {
      .overlay {
        display: none !important;
      }
    }
    .slick-arrow.slick-next {
      right: 10px;
      top: 90%;
      z-index: 100;
    }
    .slick-arrow.slick-prev {
      left: 10px;
      top: 90%;
      z-index: 100;
    }

    .slick-slide {
      padding: 0 30px !important;
    }

    .slick-active {
      padding: 0 !important;

      .person {
        opacity: 1 !important;
      }
    }

    .person {
      opacity: 0.2 !important;
      font-weight: 400 !important;
    }

    .text-Feedback {
      line-height: 24px
    }

    .textLarge {
      font-size: 30px !important;
      line-height: 40px !important;
    }

    .wrap-textFeedback {
      padding-bottom: 50px !important;
    }
  }
  div.section-ten .slick-slide .overlay {
    display: none;
    opacity: 0.4 !important;
  }
}

@media screen and (max-width: 768px) {
  #Feedback {
    .slick-slider {
      position: unset;
    }
    .slick-slide-feedback {
      position: absolute;
      bottom: 32px;
    }

    .wrap-clientFeedback {
      padding-right: 0;
    }
  }
}

