@import "../variables";

.wrap-clientFeedback {
  width: 100%;
  .wrap-sliderClientFb {
    .slick-slide {
      padding: 0 20px;
    }

    .slick-prev {
      left: -20px;
      z-index: 999;
    }

    .slick-next {
      right: -20px;
      z-index: 999;
    }

    .slick-slider {
      overflow: visible !important;
    }

    .slick-slide-feedback {
      display: flex !important;
      justify-content: center;
      width: 100%;
      padding-top: 2rem;
      overflow: hidden;

      li {
        opacity: 0.6;
        border-radius: 50%;
        background: #fff;
        border-style: double;
        background-clip: content-box;
        margin: 0 0.5rem;
        cursor: pointer;
      }

      li.slick-active {
        border: 0.5px solid #1E69FF;
        opacity: 1;
      }
    }

    .slick-slide:not(.slick-current) {
      opacity: 0.2;
      transform: scale(0.9);
    }
  }
}


@include screen("mobile") {
  .wrap-clientFeedback {
    .slick-arrow.slick-next {
      right: 10px;
      top: 90%;
      z-index: 100;
    }
    .slick-arrow.slick-prev {
      left: 10px;
      top: 90%;
      z-index: 100;
    }
  }
}
