@import "../variables";

.homeComponent {
  position: relative;
  width: 100%;

  .textHome {
    left: 5%;
    top: 68px;

    span {
      font-size: 3rem;
      line-height: $line-height-large;
      font-weight: $font-weight-base;
    }

    span:nth-child(2) {
      font-weight: 900;
      font-family: $font-family-bold;
    }
  }

  .banner {
    height: 100%;
    object-fit: cover;
    object-position: bottom;
  }

}

@media screen and (max-width: 768px) {
  .homeComponent {
    .textHome {
      top: 30px;

      span {
        font-size: 30px;
      }
    }
  }

}




