@import "../variables";

.homeComponent {
  position: relative;
  width: 100%;
  height: 100vh;
  .textHome {
    text-align: center;
    padding-top: 100px;
    span {
      font-size: 120px;
      line-height: 146px;
    }

    span:nth-child(2) {
      font-weight: 900;
      font-family: $font-family-bold;
    }
  }

  .banner {
    height: 100%;
    object-fit: cover;
    object-position: bottom;
  }
  .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}

@media screen and (max-width: 768px) {
  .homeComponent {
    .textHome {
      top: 30px;

      span {
        font-size: 52px;
        line-height: 63px;
      }
    }
  }
}




