@import "../variables";

.news {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../../assets/images/backgroundNews.svg");
  position: relative;
  width: 100%;
  .newCard-mobile>div {
    height: 288px;
    img {
      border-radius: 10px;
    }
  }
  .wrap-text {
    span {
      font-weight: 400;
      line-height: 24px;
    }

    .ourNews {
      font-size: $font-size-large;
      font-weight: $font-weight-bold;
      font-family: $font-family-bold;
      line-height: $line-height-large;
    }
  }

  .button-custom {
    left: 30px;
    display: flex;
    bottom: 30px;
    align-items: center;
    justify-content: space-between;
  }
}

@include screen(991) {
  .wap-item {
    padding-right: 20px !important;
  }
}

@media screen and (max-width: 1200px) {
  .news {
    .newCard-mobile>div{
      height: 200px;
    }
  }
}

@media screen and (max-width: 900px) {
  .news {
    .newCard-mobile>div {
      height: 150px;
    }
  }
}