@import "../variables";

.news {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../assets/images/backgroundNews.png");
  position: relative;
  width: 100%;

  .wrap-text {
    span {
      font-weight: 400;
      line-height: 24px;
    }

    .ourNews {
      font-size: $font-size-large;
      font-weight: $font-weight-bold;
      font-family: $font-family-bold;
      line-height: $line-height-large;
    }
  }

  .wap-item {
    padding-right: 100px;

  }

  .button-custom {
    left: 30px;
    display: flex;
    bottom: 30px;
    align-items: center;
    justify-content: space-between;
  }
}

@include screen(991) {
  .wap-item {
    padding-right: 20px !important;
  }
}

@include screen("mobile") {
  .news {
    .wap-item {
      grid-template-columns: 1fr !important;
      padding: 25px 15px 0 15px !important;
    }

    .LastPost-text {
      margin-bottom: 0 !important;
    }

    .ourNews {
      font-size: 30px !important;
      line-height: 40px !important;
    }
  }
}