@import "../variables";

.ourSkill {
  background-position: 66% 97%;
  background-repeat: no-repeat;
  background-image: url("../../assets/images/backgroupSkill.png");
  position: relative;
  width: 100%;
  padding-right: 100px;

  .ourSkill-wrap-text {
    width: 55%;
    padding-right: 130px;
    height: fit-content;;

    .text-large {
      font-family: $font-family-bold;
      font-size: $font-size-large;
      line-height: $line-height-large;
      font-weight: 800;

    }

    .button-link {
      bottom: 10%;
    }

    .text-medium {
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      line-height: 30px;
      font-size: $font-size-medium;
      color: $orange;
    }
  }

  .wrap-img {
    width: 45%;
    height: fit-content;

    .pc {
      display: block;
    }

    .mobile {
      display: none;
    }
  }

  .button-custom {
  }
}

@include screen(991) {
  .ourSkill {
    padding-right: 20px;

    .ourSkill-wrap-text {
      padding-right: 20px;
    }
  }
}

@include screen("mobile") {
  .ourSkill {
    padding-right: 0 !important;
    background-position: 55% 100px;
    background-size: cover;
  }
  .wrap-skillContent {
    flex-direction: column !important;

    .ourSkill-wrap-text {
      width: 100% !important;
      padding: 0 15px 28px 15px !important;

      .text-large {
        font-size: 30px !important;
        line-height: 40px !important;
      }
    }

    .wrap-img {
      width: 100%;
      height: fit-content;

      .pc {
        display: none !important;
      }

      .mobile {
        display: block !important;
      }
    }

    .button-link {
      display: flex;
      position: unset;
      width: fit-content;
      margin-top: 28px;
    }
  }
}