@import "../variables.scss";

.portfolio {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../assets/images/portfolitoVector.png");
  position: relative;
  width: 100%;

  .portfolio-text {
    display: flex;
    justify-content: center;
    width: 100%;

    span {
      text-align: center;
      line-height: $line-height-large;
      font-family: $font-family-base;
    }

    .text {
      font-family: $font-family-bold;
      font-weight: $font-weight-bold;
      font-size: $font-size-large;
      margin-top: -0.0875rem;
    }

  }

  .wrap-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h2.title {
    font-weight: 800;
  }
}

@media screen and (max-width: 500px) {

  .slider-home {
    padding: 10px 0;
  }
}

