@import "../variables.scss";
.slider-common {
  @media screen and (min-width: 1024px) {
    .slick-list {
      overflow: visible;
      margin: 0 -35px;
    }

    .slick-track {
      display: flex;
      align-items: center;
    }

    .slick-slide {
      padding: 0 25px;
    }

    .slick-prev {
      left: 10px !important;
      top: 29%;
      z-index: 999;
    }

    .slick-next {
      right: 10px !important;
      top: 29%;
      z-index: 999;
    }
  }

  .slick-slider {
    overflow: hidden;
    @media screen and (max-width: 768px) {
      overflow: hidden;
    }
  }

  .slick-slide-common {
    display: flex !important;
    justify-content: center;
    width: 100%;
    padding-top: 4rem;

    li {
      opacity: 0.4;
      width: 0.875rem;
      height: 0.875rem;
      border-radius: 50%;
      background: #fff;
      border: 3px solid #fff;
      border-style: double;
      background-clip: content-box;
      margin: 0 0.5rem;
      cursor: pointer;

      .dot {
        width: 100%;
        height: 100%;
        display: block;
      }
    }

    li.slick-active {
      opacity: 1;
      color: $orange;
      background: $orange;
      border: 3px solid $orange;
      border-style: double;
      background-clip: content-box;
    }

  }
}


@include screen("mobile") {
  .slider-common {
    .slick-slide {
      padding: 0 15px;
      height: 490px;
    }
  }
}