@import "../variables";

.wrap-teams {
  background-image: url("../../assets/images/bg3.png");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  padding-right: 100px;

  .wrap-slider-common {
    height: calc(100% - 83px);
  }
}

@include screen(768) {
  .wrap-teams {
    padding-right: 20px;
  }

}